*{
	font-family: 'Lato';
}
header{
	overflow-x: hidden;
	width: 100%;
}
#div-header-h1logo-ullinks-container{
	position: absolute;
	display: flex;
	width: 100%;
	height: 90vh;
	background-color: rgba(0,0,0, .6);
	justify-content: space-between;
}
#ul-header-menu-links-container{
	display: flex;
	padding: 5vh 2.5vw 5vh 0;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 30%;
}
#ul-header-menu-links-container li a{
	color: rgba(255,255,255,1);
	transition: .5s;
	font-size: .75em;
	padding: .5em 1em;
	border: 1px solid white;
	text-transform: uppercase;
}
#ul-header-menu-links-container li a:hover{
	background-color: rgba(255,255,255, 1);
	color: rgba(0,0,0,1);
}
#h1-header-logo-container a h1{
	font-size: 0px;
}
#h1-header-logo-container a img{
	height: 150px;
	width: 150px;
}
#div-header-third-item-useless{
	width: 150px;
}
#video-header-background{
	height: 90vh;
	width: 100vw;
	z-index: -1;
}

main{
	width: 100%;
	height: 100%;
}
#h1-main-products-services-announcer{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin: 1em 0; 
	width: 100%;
}
#div-main-content{
	box-sizing: border-box;
	display: inline-block;
	width: 79.5%;
}
#div-main-content>article{
	padding: .5%;
}
#div-main-content>article>a>figure{
	position: relative;
}
#div-main-content>article>a>*{
	display: inline-block;
} 
#div-main-content>article:nth-child(even)>a>figure{
	float: left;
}
#div-main-content>article>a>figure>img{
	height: 20em;
	width: 30em;
}
#div-main-content>article>a>figure>div{
	display: none;
}
#div-main-content>article>a>figure>div>p{
	color: white;
	width: 100%;
	text-align: center;

}
#div-main-content>article:hover>a>figure>div{
	width: 30em;
	height: 20em;
	display: flex;
	align-items: center;
	text-align: center;
	background-color: rgba(0,0,0, .75);
	position: absolute;
	top: 0;
}
#div-main-content>article>a>div{
	height: 20em;
	width: calc(100% - 30.3em);
}
#div-main-content>article>a>div>h2{
	font-size: 3.5vh;
	padding: 1em;
	text-align: center;
}
#div-main-content>article>a>div>p{
	margin: auto;
	padding: 1em;
	text-align: justify;
	text-indent: 2em;
}
#div-main-guide{
	border: 1px solid #4288BD;
	color: ##275170;
	padding: 1em;
	display: inline-block;
	position: sticky;
	height: 100vh;
	top: 0;
	width: 20%;
}
footer{
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 20vw;
	box-shadow: 0 0 .25em black;
	margin: 0 auto;
	margin-top: 10em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
footer *{
	color: #ddd;
	line-height: 1.35em;
}
#div-footer-info-list, #div-footer-address-copyright{
	width: 100%;
	display: flex;
}
#div-footer-info-list{
	flex-direction: row;
	justify-content: center;
}
#div-footer-address-copyright{
	margin-top: 2em;
	flex-direction: column;
	align-items: center;
}


